* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

main{
    height: 100%;
    width: 100%;
    /* padding: 15px 0; */
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

.allreels{
    height: 100vh;
    /* background-color: blue; */
    width: 400px;
    position: relative;
    border-radius: 3px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    
}
.allreels::-webkit-scrollbar{
    display: none;
}

.reels{
    height: 100vh;
    width: 100%;
    position: relative;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
    

    
.bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        /* background: linear-gradient(transparent, black) */
        color: white;
        padding: 15px 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.line{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            
}

.profile{
                border: 2px solid white;
                overflow: hidden;
                height: 45px;
                width: 45px;
                border-radius: 45px;
                background: transparent;
                cursor: pointer;
                object-fit: cover;
                background-size: cover;
 }

.username{
                cursor: pointer;
            /* #Follow{
                background-color: transparent;
                color: white;
                border-radius: 8px;
                padding: 5px 10px;
                border: 2px white solid;
                cursor: pointer;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 10px;
            } */
}

.caption{
            cursor: pointer;
}
    


.Follow{
    background-color: transparent;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    border: 2px white solid;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

video{
        height: 100%;
        width: 100%;
        object-fit: cover;
}

.side{
    position: absolute;
    bottom: 8%;
    right: 0;
    height: 100%;
    width: auto;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    color: white;
}


h6{
    font-size: 15px;
    font-weight: 100;
}

i{
    cursor: pointer;
    font-weight: 100;
    font-size: 25px;
}

.like,.comment{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.profile>img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    
}

.ri-heart-fill{
    color: red;
}