* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
    font-weight: 500;
    font-size: 19px;
}


@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotateconic {
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}

#box{
    height: 450px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 15px;
    border-radius: 15px;
    color: whitesmoke;
    gap: 4px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 50px rgba(255, 0, 195, 0);
    border:  5px solid rgba(0, 0, 0, 0);
    background: 
            linear-gradient( black) padding-box,
            conic-gradient(from var(--rotate), black, black, rgb(255, 63, 210), black, black) border-box;
    animation: rotateconic 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    border-width: 0px;
    color: whitesmoke;
    text-shadow: 0 0 50px rgba(255, 63, 210, 0) ;
    transition: all .3s linear;
}

#box:hover{
    animation-play-state: running;
    cursor: pointer;
    border-width: 5px;
    box-shadow: 0 0 50px rgb(255, 0, 195);
    color: rgb(255, 0, 195);
    text-shadow: 0 0 50px rgb(255, 63, 210) ;
}






/* @keyframes demo {
    from{
        background-color: rgb(55, 0, 255);
    }
    to{
        background-color: rgb(184, 225, 20);
    }
}

#box{
    height: 200px;
    width: 400px;
    animation: demo 5s;
    background-color: whitesmoke;
    box-shadow: inset 0px 0px  40px rgb(246, 14, 169) ;  bos-shodow: x / y / spreed radius / color
}

h1{
    font-size: 90px;
    color: white;
    text-shadow:  0 0 30px red;
} */