* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}


body{
    background-image: url(https://images.pexels.com/photos/1107717/pexels-photo-1107717.jpeg);
    background-size: cover;
    background-position: center;
    
}

:root{
    --x: 0px;
    --y: 0px;
}

.main{
    height: 100%;
    width: 100%;
    background: radial-gradient(150px at var(--x) var(--y), transparent, rgba(0, 0, 0, 0.946));
}

/* #spot{
    background: radial-gradient( 800px, transparent, white );
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    left: 2%;
    top: 2%;
} */
