* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#box{
    background-color: red;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    
}

button{
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    border: white 2px;
    font-size: 30px;
}