* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 30px;
    color: green;
    font-weight: 700;
    font-family: monospace;
}