* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


#main{
  width: 600px;
  background-color: rgb(7, 7, 25);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  margin: 20px 20px;
}

button{
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    margin: 50px;
    border-radius: 15px;
    font-size: large;
}